@mixin flex($direction: column, $justify: flex-start, $alignItems: center, $wrap: wrap) {
    display: flex;
    flex-wrap: $wrap;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $alignItems;
}